* {
  scroll-behavior: smooth;
}
body {
  background-image: url('../img/Foto\ Pilihan/Cover /BG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.navbar {
  font-weight: bold;
  font-size: large;
  padding: 0;
}
.navbar .img {
  width: auto;
  height: 20%;
}
.home {
  margin: 0 0 0 0;
  padding: 7vh 0 0 0;
}

.home .container-fluid img {
  width: 100%;
  height: 100%;
}
.home .tagline {
  bottom: 0;
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100px;
}

.container-xxl {
  max-width: 100%;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9vh);
  }
}

.bouncing {
  margin-top: 1vh;
  animation: bounce 3s infinite alternate;
}

.profile-singkat {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: max-content;
  padding: 5vh 5vh 0vh 5vh;
  margin-top: 10vh;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: system-ui;
  flex-direction: row;
}
.karya {
  padding: 10vh 0 0 0;
}

.profile-singkat .karya ul li {
  list-style: none;
  padding-top: 5vh;
}
.foto {
  width: auto;
  max-width: 40%;
  height: auto;
  position: relative;
}
.foto p {
  position: absolute;
  bottom: 0;
  font-style: italic;
  font-size: medium;
  font-weight: 600;
  opacity: 0;
  text-align: center;
}

.fotos {
  max-width: fit-content;
  padding-top: 0vh;
}

.title {
  position: relative;
  width: 70vh;
  line-height: 1.2;
}
.test {
  width: 100%;
  height: 600px;
  border-radius: 20px 20px;
}

.carousel-item img {
  border-radius: 20px;
}

.utama {
  width: 100%;
  margin: auto auto;
  padding: 0 0;
}

.proker {
  margin-top: 4vh;
}

.carousel-caption {
  font-family: sans-serif;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}
.carousel-caption p {
  font-size: medium;
  font-weight: 500;
}

.visi {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 2vh auto;
}

.box {
  width: 30vh;
  height: 40vh;
  background-color: rgba(3, 43, 80, 1);
  backdrop-filter: blur;
  transition: all 1s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Posisi vertikal di tengah */
  justify-content: center; /* Posisi horizontal di tengah */
  color: white;
  border-radius: 2vh;
  cursor: pointer;
}

.box:hover {
  background-color: rgba(3, 43, 80, 0.5);
  backdrop-filter: blur;
  color: black;
}

.description {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#poto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#poto div img{
  scale: 1;
  opacity: 0.5;
}
#poto div img:hover{
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.poto{
  display: grid;
   grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-height: 300px;
    overflow: auto;
     margin-bottom: 10vh;
}
.poto div {
  position: relative;
  display: flex;
  flex-direction: row;
}
.poto img{
  margin: auto;
}

.popup{
  font-style: system-ui;
  padding-top: 15px;
  line-height: 10px;
  font-size: 16px;
  font-weight: 600;
}
.modal-content  {
  transform: translateY(30%);
  background-color: rgba(55, 163, 252, 0.2);
  backdrop-filter: blur(7px);
  color: aliceblue
}
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/* Responsive */
/* HP */
@media screen and (max-width: 600px) {
  .foto {
    width: 40vh;
    max-width: none;
  }

  .fotos {
    padding-top: 2vh;
  }
  .foto p {
    opacity: 1;
  }
  .proker {
    position: absolute;
    opacity: 0 ;
  }

  .poto{
    grid-template-columns: repeat(1, 1fr);
  }
  .poto div {
    flex-direction: column;
  }
}
/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .foto {
    width: 40vh;
    max-width: none;
  }

  .fotos {
    padding-top: 2vh;
  }
  .foto p {
    opacity: 1;
  }
}
